.header {
  display: grid;
  align-items: center;
  background-color: #000;
  grid-template-columns: 1fr 4fr 5fr 1fr; }
  .header .slb {
    color: #fff;
    padding-left: 40px;
    font-size: 2.2em; }

.submenu {
  background-color: #000;
  color: #fff;
  flex-basis: 35%; }
  .submenu ul {
    list-style: none; }
  .submenu ul li {
    float: left;
    font-size: 1.2em;
    padding: 8px 16px; }
  .submenu a {
    color: #fff; }
  .submenu a:link {
    text-decoration: none; }
  .submenu a:hover {
    text-decoration: underline; }

.search {
  position: relative;
  border-style: solid; }
  .search input {    
    height: 90px;
    width: 100%;  
    background-color: #241818;}
  .search ::placeholder {
    font-size: 2rem; }
  .search i {    
    color: #fff;
    position: absolute;
    right: 5%;
    top: 40%;
    font-size: 2rem; }

.header2 {
  display: grid;
  grid-template-columns: 1fr 1fr;}
  .header2 .signin {
    float: left;
    color: #fff;
    background-color: #747a7a;
    text-align: center; }
  .header2 .signin i, .header2 .contact i {
    font-size: 3em;
    text-align: center; }
  .header2 .contact {
    color: #fff;
    background-color: #19aa5f;
    align-self: center;
    text-align: center; }
  .header2 .contact a, .header2 .signin a {
    color: #fff; }