body {
  font-family: Arial, Helvetica, sans-serif; }

.header {
  display: grid;
  align-items: center;
  background-color: #000;
  grid-template-columns: 1fr 4fr 5fr 1fr; }
  .header .slb {
    color: #fff;
    padding-left: 40px;
    font-size: 2.2em; }

.submenu {
  background-color: #000;
  color: #fff;
  flex-basis: 35%; }
  .submenu ul {
    list-style: none; }
  .submenu ul li {
    float: left;
    font-size: 1.2em;
    padding: 8px 16px; }
  .submenu a {
    color: #fff; }
  .submenu a:link {
    text-decoration: none; }
  .submenu a:hover {
    text-decoration: underline; }

.search {
  position: relative;
  border-style: solid; }
  .search input {    
    height: 90px;
    width: 100%;  
    background-color: #7f7979;}
  .search ::placeholder {
    vertical-align: bottom;
    padding-left: 10px;
    color: #fff;
    font-size: 2rem; }
  .search i {    
    color: #fff;
    position: absolute;
    right: 5%;
    top: 40%;
    font-size: 2rem; }

.header2 {
  display: grid;
  grid-template-columns: 1fr 1fr;}
  .header2 .signin {
    float: left;
    color: #fff;
    background-color: #747a7a;
    text-align: center; }
  .header2 .signin i, .header2 .contact i {
    font-size: 3em;
    text-align: center; }
  .header2 .contact {
    color: #fff;
    background-color: #19aa5f;
    align-self: center;
    text-align: center; }
  .header2 .contact a, .header2 .signin a {
    color: #fff; }

.menu {
  display: flex;
  align-items: center; }
  
  .cata {
    float: left;
    flex-basis: 50%; }
    .cata ul {
      display: flex;
      list-style: none; }
      .catalog_link {
        text-decoration: none;
        font-size: 1.5em;
        padding: 0px 16px;
        color: #000; }

  .sup {
    flex-basis: 50%;
    background-color: #888; }
    .sup ul {
      list-style: none;
      display: flex; }
      .support_link {
        text-decoration: none;
        font-size: 1.2em;
        padding: 0px 16px;
        color: #000; }

.highlight {
  height: 500px;
  text-align: center;
  background-position: center;
  background-image: url("https://loremflickr.com/320/240");
  background-repeat: no-repeat;
  background-size: cover; }
  .highlight h2 {
    padding-top: 200px;
    font-size: 4em;
    color: #fff;
    text-shadow: 5px 5px black; }

.news0 {
  background-color: #1c0b68;
  color: #fff;
  font-size: 3em; }

.news {
  display: flex;
  background-color: #1c0b68;
  font-size: 1.5em;
  color: #fff; }

.news1 {
  padding: 0px 10px 0px 80px; }

.news2, .news3, .emphasis {
  padding: 0px 20px 10px 20px;
  border-left: 1px solid #fff; }

.news h4 span {
  color: black;
  background-color: #fff; }
