.menu {
  display: flex;
  align-items: center;}
  .cata {
    float: left;
    flex-basis: 50%;}
    .categories {      
      display: flex;
      list-style: none;}
      .catalog_link {
        font-size: 1.5em;
        padding: 0px 16px;
        color: #000;}
  .sup {
    flex-basis: 50%;
    background-color: #888;}
    .support {
      list-style: none;
      display: flex;}
      .support_link {
        font-size: 1.2em;
        padding: 0px 16px;
        color: #000;
      }

